<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Create Form</title>
    <!-- Vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
      integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
      crossorigin="anonymous"
    />
    <!-- CSS -->
    <link rel="stylesheet" href="./css/createForm.css" />
    <!-- Logo -->
    <link rel="icon" href="./icons/logo.png" />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div id="app">
      <create-form ref="jun"></create-form>
    </div>

    <script>
      const eventBus = new Vue();
    </script>

    <!-- 單選題 & 複選題的模板 -->
    <script type="text/x-template" id="haveBinding">
      <div class="form-question" v-if="display">
        <div class="form-question" v-if="display">
          <div class="question-title">
            <button type="button" class="btn btn-sm btn-outline-success mr-2" @click="edit(question)">編輯</button>
            <span v-if="question.Required" class="badge badge-danger mr-1">必填</span>
            <span v-if="ScoreEnable" class="badge badge-info mr-2">計分</span>
            <p>{{ index + 1}}.  {{ question.Title }}</p>
          </div>
          <div
            class="question-option"
            v-for="(item, index) in question.Options"
            :key="index"
          >
            <button v-if="!editMode" type="button" class="btn btn-sm btn-outline-secondary mr-3" @click="binding(item)">綁定</button>
            <input
              :type="question.Type"
              :id="item.Guid"
              :value="item.Guid"
              v-model="question.Answer"
              @change="checkBinding(question, item)"
            />
            <label :for="item.Guid">{{ item.Value }}</label>
            <p v-if="ScoreEnable" class="ml-auto border-bottom">{{ item.Score }}</p>
            <p v-if="ScoreEnable" class="ml-2">分</p>
          </div>
        </div>
      </div>
    </script>

    <script type="module" src="./js/createForm.js"></script>
  </body>
</html>
